
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


body{
	background-color: black;
}

header{
	background: #181818;
	padding-top: 30px;
	padding-bottom: 29px;
}

.container{
	max-width: 1200px;
	margin: auto;
}

.dflex__spacebet{
	display: flex;
	justify-content: space-between;
}

header .container ul{
	display: flex;
}

header .container ul li a{
	margin-left: 32px;
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 153.846% */
}

header .container ul li{
	padding-top: 5px;
}


.header__menu li:last-child a{
	padding: 9px 20px 13px 20px;
	border-radius: 14px;
	background: #FFF;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: 0.4px;
}


.header__menu li:first-child{
	margin-right: 24px;
}


.section__enter{
	background-image: url('../images/main__images/enter.png');
	background-size: cover;
	height: calc(100vh - 90px);
	display: flex;
	align-items: end;
	justify-content: center;
	padding-bottom: 71px;
}

.section__enter .container{
	max-width: 580px;	
	text-align: center;
	margin: inherit;
}

.section__enter h3{
	color: #C0C0C0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 1px;
}

.section__enter h1{
	color: #FFF;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 54px;
	font-style: normal;
	font-weight: 400;
	line-height: 59.4px; /* 110% */
	margin-bottom: 18px;
}


.section__enter p{
	color: #C0C0C0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}


.section__japan{
	min-height: 600px;
	background-image: url('../images/main__images/japan.png');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 62px;

}

.section__japan .container{
	max-width: 298px;
	margin: inherit;
}

.section__japan h3{
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section__japan p{
	color: #C0C0C0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}


.section__green{
	min-height: 600px;
	background-image: url('../images/main__images/green.png');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 87px;
} 

.section__green .container{
	max-width: 273px;
	margin: inherit;
}

.section__green p{
	color: #C0C0C0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */	
}

.section__green h3{
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section__past{
	background-color: black;
	padding-top: 120px;
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px;
}



.section__past h2{
	color: #FFF;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 42px; /* 105% */
	margin-bottom: 15px;
}

.section__past h3{
	color: #C0C0C0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px; /* 125% */
	margin-bottom: 82px;
}

.section__past div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.section__night{
	min-height: 600px;
	background-image: url("../images/main__images/night.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 106px;
}


.section__night .container{
	margin: inherit;
	max-width: 254px;
}

.section__night h3{
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section__night p{
	color: #C0C0C0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}